header{
	background-color:#A1865A ;
	text-align: center;
	padding-top:40px ;
	padding-bottom: 25px;
	

}

header h1 {

    font-family:Playfair Display ;
	font-weight:bold;
	text-transform:uppercase ;
}
header img{
	max-height:350px ;
	max-width:350px ;
	margin: 0px;
	width:400px ;
	border:5px solid wheat ;
	border-radius:35px ;

}
main {
	text-align: center;
	background-color:#D3BB94 ;
}
p{font-family: 'Montserrat', sans-serif;
font-weight: 500;}



.Helen{

	background-color: yellow;
	width: 400px;
	padding: 50px;
	border: solid 20px darkorange;
}

div.Joana p{

}
.Joana{
	background-color: skyblue;
	width: 400px;
	padding: 30px;
	border: solid 10px blueviolet;
}

a:hover{
	background-color: darkorange;
	color: white;
}








